*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f172a;
color:white;
padding:20px;
}

.top{
text-align:center;
margin-bottom:40px;
}

.top h1{
font-size:32px;
margin-bottom:10px;
}

.top p{
color:#94a3b8;
}

.container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
max-width:900px;
margin:auto;
}

.card{
background:#1e293b;
padding:20px;
border-radius:18px;
transition:0.3s;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.card:hover{
transform:translateY(-5px);
background:#334155;
}

.card h2{
margin-bottom:10px;
}

.card p{
color:#cbd5e1;
margin-bottom:20px;
}

.btn{
display:inline-block;
background:#22c55e;
padding:10px 18px;
border-radius:12px;
text-decoration:none;
color:white;
font-weight:bold;
transition:0.3s;
}

.btn:hover{
background:#16a34a;
}